services:
  mlflow:
    build:
      context: .
      dockerfile: Dockerfile
    # image: ghcr.io/mlflow/mlflow:v2.15.1
    container_name: mlflow
    ports:
      - "5000:5000"
    environment:
      # (선택) 컨테이너 내부 경로를 명확히
      # MLFLOW_TRACKING_URI: http://0.0.0.0:5000

      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: oracle
      AWS_SECRET_ACCESS_KEY: oracleoracle
      AWS_DEFAULT_REGION: us-east-1

    volumes:
      - ./mlruns:/mlruns
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:////mlruns/mlflow.db
      --serve-artifacts
      --artifacts-destination s3://mlflow/artifacts
      --gunicorn-opts "--timeout 300 --workers 1 --threads 4"
    restart: unless-stopped
