services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.15.1
    container_name: mlflow
    ports:
      - "5000:5000"
    environment:
      # (선택) 컨테이너 내부 경로를 명확히
      MLFLOW_TRACKING_URI: http://0.0.0.0:5000
    volumes:
      - ./mlruns:/mlruns
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:////mlruns/mlflow.db
      --default-artifact-root /mlruns
    restart: unless-stopped
